# my pycashe

.idea/

# Module emulate Jetson and Raspberry PI GPIOs
Jetson/

roboticsnt/__pycache__/
roboticsnt/commandProtocol/__pycache__/
roboticsnt/commandProtocol/arduino/__pycache__/
roboticsnt/commandProtocol/socket_connection.py
roboticsnt/computerVision/__pycache__/
roboticsnt/computerVision/opencv/__pycache__/
roboticsnt/serial/__pycache__/

roboticsnt/gui/pyQt5/__pycache__/
# Pycache
 *.pyc
 # Byte-compiled / optimized / DLL files
 __pycache__/
 *.py[cod]

 # C extensions
 *.so

 # Distribution / packaging
 .Python
 env/
 build/
 develop-eggs/
 dist/
 downloads/
 eggs/
 .eggs/
 lib/
 lib64/
 parts/
 sdist/
 var/
 *.egg-info/
 .installed.cfg
 *.egg

 # PyInstaller
 #  Usually these files are written by a python script from a template
 #  before PyInstaller builds the exe, so as to inject date/other infos into it.
 *.manifest
 *.spec

 # Installer logs
 pip-log.txt
 pip-delete-this-directory.txt

 # Unit test / coverage reports
 htmlcov/
 .tox/
 .coverage
 .coverage.*
 .cache
 nosetests.xml
 coverage.xml
 *,cover

 # Translations
 *.mo
 *.pot

 # Django stuff:
 *.log

 # Sphinx documentation
 docs/_build/

 # PyBuilder
 target/
